*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.content-box{
	width: 960px;
	margin: 50px auto;
}
.main-content{
	width: 300px;
	padding: 10px;
	border: 1px solid #828484;
	margin-right: 30px;
	position: relative;
	float: left;
}
.main-content:last-child{
	margin-right: 0;
}
.img-box1{
	width: 280px;
	height: 150px;
	background-image: url(img/flow01.png);
	background-position: bottom;
	background-size: cover;
}
.img-box2{
	width: 280px;
	height: 150px;
	background-image: url(img/flow02.png);
	background-position: bottom;
	background-size: cover;
}
.img-box3{
	width: 280px;
	height: 150px;
	background-image: url(img/flow03.png);
	background-position: bottom;
	background-size: cover;
}
.step-tag{
	background-color: orange;
	padding: 3px 2px;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
}

/*HTML,CSSのレスポンシブ対応課題*/

@media screen and (max-width: 768px){
	.content-box{
		width: 90%;
	}
	.main-content{
		width: auto;
		float: none;
		margin: 0;
	}
	.main-content{
		margin-bottom: 20px;
	}
	.main-content:last-child{
		margin: 0 auto;
	}
	.img-box1,
	.img-box2,
	.img-box3{
		width: 100%;
		margin: 0 auto;
	}
}