.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

.main-content{
	width: 300px;
	padding: 10px;
	margin-right: 30px;
	border: 1px solid #828484;
	float: left;
	position: relative;
}

.main-content:last-child{
	margin-right: 0;
}

.step-tag{
	background-color: orange;
	color: #fff;
	padding: 5px;
	position: absolute;
	top: 0;
	left: 0;
}

.img-box{
	width: 280px;
	height: 150px;
}

/*HTML,CSSのレスポンシブ対応課題*/

@media screen and (max-width: 768px){
	.content-box{
		width: 300px;

		/*見やすいように中央寄せ*/
		margin: 0 auto;
	}
 	.main-content{
 		width: 100%;
 		margin: 30px 0;
 		float: none;
 	}
 }